.title {
	margin-bottom: 30px;
	h2 {
		line-height: initial;
	    font-size: 25px;
	    font-weight: bold;
	    margin-bottom: 6px;
	}
}
.box-srv-home {
	padding: 35px 0;
}

.item-srv {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
	.icon {
		margin-bottom: 20px;
	}
	.info {
		h2 {
			a {
				display: block;
			    font-size: 16px;
			    font-weight: bold;
			    line-height: initial;
			}
		}
		.desc {
			padding: 12px 0;
		}
		.readmore {
			a {
				color: #a9521e;
			}
		}
	}
}

.content-ab {
	background: $yellow;
	padding: 10px 0 35px 0;
}
.item-about {
	text-align: center;
    max-width: 290px;
    margin: 0 auto;
    color: #333f4f;
    .icon {
    	margin-bottom: 15px;
    	img {
    		max-height: 100px;
    	}
    }
    .info {
    	h3 {
    		color: #333f4f;
		    font-size: 16px;
		    font-weight: bold;
		    line-height: inherit;
		    margin-bottom: 10px;
    	}
    }
}

.box-feedback {
	padding: 35px 0 60px 0;
	.slick-dots {
		bottom: -30px;
	}
}
.item-feed {
	display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    .desc {
    	position: relative;
	    flex: 0 0 50%;
	    padding-right: 15px;
	    .icon-kep {
	    	margin-bottom: 15px;
	    }
    }
    .user-feed {
    	flex: 0 0 50%;
    	padding: 0 15px;
    	text-align: right;
    }
    .info-user {
    	display: inline-flex;
	    align-items: center;
	    text-align: left;
	    h5, h6 {
	    	color: #484848;
		    font-weight: bold;
		    font-size: 16px;
		    line-height: inherit;
		    padding: 2px 0;
	    }
	    .avr-fb {
	    	margin-left: 20px;
    		position: relative;
    		&:after {
    			content: "";
			    width: 100%;
			    height: 100%;
			    border: 3px solid #a9521e;
			    position: absolute;
			    top: 15px;
			    left: 15px;
    		}
    		img {
    			width: 240px;
			    height: 310px;
			    object-fit: cover;
			    position: relative;
			    z-index: 2;
    		}
	    }
    }
}
.box-subscribe {
	background: $yellow;
    padding: 25px 0;
    .txt-subs {
    	h3 {
    		font-size: 25px;
		    font-weight: bold;
		    margin-bottom: 5px;
    	}
    }
}
.form-subs {
	position: relative;
	.txt_field {
		height: 45px;
	    padding: 0 15px;
	    border: 0;
	    width: 100%;
	}
	.btn-sub {
		cursor: pointer;
	    width: 150px;
	    height: 45px;
	    background: #a9521e;
	    border: 0;
	    color: #fff;
	    position: absolute;
	    top: 0;
	    right: 0;
	}
}

.item-w {
	margin-bottom: 30px;
    display: flex;
    align-items: center;
    &:last-child {
    	margin-bottom: 0;
    }
    .icon {
    	flex: 0 0 102px;
		margin-right: 20px;
    }
    h4 {
    	line-height: initial;
	    margin-bottom: 8px;
	    font-size: 25px;
    }
}

.box-why {
	padding: 35px 0;
}

.box-blog {
	padding: 35px 0;
	background: $yellow;
	.view-all {
		margin-top: 30px;
		a {
			background: #a9521e;
		    display: inline-flex;
		    height: 40px;
		    align-items: center;
		    border-radius: 5px;
		    color: #fff;
		    padding: 0 20px;
		    border: 1px solid #a9521e;
		}
	}
}

.list-blog {
	.row {
		margin: 0 -25px;
		>div {
			padding: 0 25px;
		}
	}
}
.item-blog {
	position: relative;
	.avarta {
		img {
			object-fit: cover;
			height: 315px;
		}
	}
	.info {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    background: #a9521eb3;
	    a {
	    	display: block;
		    font-size: 16px;
		    color: #fff;
		    font-weight: normal;
		    padding: 10px;
		    line-height: initial;
	    }
	}
}

.box-part {
	padding: 35px 0;
	.slick-dots {
		position: unset;
	}
}

.slide-partner {
	margin: 0 -15px;
	.item-slide {
		padding: 0 15px;
	}
}
.item-part {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 0 15px;
}