* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'UTM-Avo';
  src: url("../fonts/avo/UTMAvo-Italic.woff2") format("woff2"), url("../fonts/avo/UTMAvo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'UTM-Avo';
  src: url("../fonts/avo/UTMAvo.woff2") format("woff2"), url("../fonts/avo/UTMAvo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'UTM-Avo';
  src: url("../fonts/avo/UTMAvoBold.woff2") format("woff2"), url("../fonts/avo/UTMAvoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'UTM-Avo';
  src: url("../fonts/avo/UTMAvo-BoldItalic.woff2") format("woff2"), url("../fonts/avo/UTMAvo-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
html {
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: .3s all;
  position: relative;
  font-weight: 400;
  font-family: 'UTM-Avo';
  background: #fff;
  overflow-x: hidden; }
  body.active {
    overflow: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #ffde59; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1200px; }
  body img {
    max-width: 100%; }
  body .slick-slider {
    margin-bottom: 0; }

.slick-dots {
  bottom: 15px; }
  .slick-dots button {
    display: none !important; }
  .slick-dots li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #dedddd; }
    .slick-dots li.slick-active {
      background: #a9521e; }

.header-top {
  padding: 16px 0; }
  .header-top .hotline {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header-top .hotline img {
      margin-right: 12px; }

.header-menu {
  background: #ffde59;
  padding: 8px 0; }

.h-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .h-menu a {
    position: relative;
    color: #000000 !important; }
    .h-menu a:After {
      content: "";
      width: 100%;
      height: 1px;
      background: #a9521e;
      position: absolute;
      left: 0;
      bottom: -4px;
      transition: .3s all !important;
      opacity: 0; }
  .h-menu > ul {
    list-style: none;
    display: flex;
    flex: 0 0 calc(100% - 350px); }
    .h-menu > ul li {
      margin-right: 50px; }
      .h-menu > ul li:last-child {
        margin-right: 0; }
  .h-menu .current-menu-item a:after {
    opacity: 1; }
  @media (max-width: 1200px) {
    .h-menu > ul li {
      margin-right: 35px; } }
  @media (max-width: 1100px) {
    .h-menu > ul {
      flex: 0 0 calc(100% - 280px); } }

.box-search {
  flex: 0 0 310px;
  margin-left: 30px; }
  .box-search input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 0 15px;
    border: 0;
    border-radius: 12px; }
  @media (max-width: 1100px) {
    .box-search {
      flex: 0 0 260px;
      margin-left: 20px; } }

footer {
  background: #ffde59;
  padding: 0 0 15px 0; }
  footer ul {
    list-style: none; }

.footer-top {
  padding: 35px 0; }
  .footer-top .logo {
    margin-bottom: 20px; }
    .footer-top .logo img {
      max-height: 80px; }

.place-info ul li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px; }
  .place-info ul li:last-child {
    margin-bottom: 0; }
  .place-info ul li img {
    max-width: 25px;
    position: absolute;
    top: 0;
    left: 0; }

.item-ft h3 {
  line-height: initial;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  height: 80px;
  align-items: center;
  margin-bottom: 20px; }
.item-ft .link-ft li {
  margin-bottom: 15px; }
  .item-ft .link-ft li:last-child {
    margin-bottom: 0; }
.item-ft .social ul {
  display: flex; }
  .item-ft .social ul li {
    margin-right: 15px; }
    .item-ft .social ul li:last-child {
      margin-right: 0; }

.title {
  margin-bottom: 30px; }
  .title h2 {
    line-height: initial;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px; }

.box-srv-home {
  padding: 35px 0; }

.item-srv {
  margin-bottom: 40px; }
  .item-srv:last-child {
    margin-bottom: 0; }
  .item-srv .icon {
    margin-bottom: 20px; }
  .item-srv .info h2 a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: initial; }
  .item-srv .info .desc {
    padding: 12px 0; }
  .item-srv .info .readmore a {
    color: #a9521e; }

.content-ab {
  background: #ffde59;
  padding: 10px 0 35px 0; }

.item-about {
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
  color: #333f4f; }
  .item-about .icon {
    margin-bottom: 15px; }
    .item-about .icon img {
      max-height: 100px; }
  .item-about .info h3 {
    color: #333f4f;
    font-size: 16px;
    font-weight: bold;
    line-height: inherit;
    margin-bottom: 10px; }

.box-feedback {
  padding: 35px 0 60px 0; }
  .box-feedback .slick-dots {
    bottom: -30px; }

.item-feed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px; }
  .item-feed .desc {
    position: relative;
    flex: 0 0 50%;
    padding-right: 15px; }
    .item-feed .desc .icon-kep {
      margin-bottom: 15px; }
  .item-feed .user-feed {
    flex: 0 0 50%;
    padding: 0 15px;
    text-align: right; }
  .item-feed .info-user {
    display: inline-flex;
    align-items: center;
    text-align: left; }
    .item-feed .info-user h5, .item-feed .info-user h6 {
      color: #484848;
      font-weight: bold;
      font-size: 16px;
      line-height: inherit;
      padding: 2px 0; }
    .item-feed .info-user .avr-fb {
      margin-left: 20px;
      position: relative; }
      .item-feed .info-user .avr-fb:after {
        content: "";
        width: 100%;
        height: 100%;
        border: 3px solid #a9521e;
        position: absolute;
        top: 15px;
        left: 15px; }
      .item-feed .info-user .avr-fb img {
        width: 240px;
        height: 310px;
        object-fit: cover;
        position: relative;
        z-index: 2; }

.box-subscribe {
  background: #ffde59;
  padding: 25px 0; }
  .box-subscribe .txt-subs h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px; }

.form-subs {
  position: relative; }
  .form-subs .txt_field {
    height: 45px;
    padding: 0 15px;
    border: 0;
    width: 100%; }
  .form-subs .btn-sub {
    cursor: pointer;
    width: 150px;
    height: 45px;
    background: #a9521e;
    border: 0;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0; }

.item-w {
  margin-bottom: 30px;
  display: flex;
  align-items: center; }
  .item-w:last-child {
    margin-bottom: 0; }
  .item-w .icon {
    flex: 0 0 102px;
    margin-right: 20px; }
  .item-w h4 {
    line-height: initial;
    margin-bottom: 8px;
    font-size: 25px; }

.box-why {
  padding: 35px 0; }

.box-blog {
  padding: 35px 0;
  background: #ffde59; }
  .box-blog .view-all {
    margin-top: 30px; }
    .box-blog .view-all a {
      background: #a9521e;
      display: inline-flex;
      height: 40px;
      align-items: center;
      border-radius: 5px;
      color: #fff;
      padding: 0 20px;
      border: 1px solid #a9521e; }

.list-blog .row {
  margin: 0 -25px; }
  .list-blog .row > div {
    padding: 0 25px; }

.item-blog {
  position: relative; }
  .item-blog .avarta img {
    object-fit: cover;
    height: 315px; }
  .item-blog .info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #a9521eb3; }
    .item-blog .info a {
      display: block;
      font-size: 16px;
      color: #fff;
      font-weight: normal;
      padding: 10px;
      line-height: initial; }

.box-part {
  padding: 35px 0; }
  .box-part .slick-dots {
    position: unset; }

.slide-partner {
  margin: 0 -15px; }
  .slide-partner .item-slide {
    padding: 0 15px; }

.item-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 0 15px; }

/*# sourceMappingURL=style.css.map */
